/* global styles */
:root {
  --primary-color: ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: white;
  color: #999;
}

h1,
h2 {
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0.5 rem;
  color: white;
}

img {
  width: 100%;
}

.showcase {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../img/backgrounds/hero.jpg") no-repeat center center/cover;
}

.showcase-top {
  position: relative;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.showcase-top a {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-200%, -50%);
  color: white;
}

.showcase-content {
  position: relative;
  z-index: 2;
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
}

.showcase-content h1 {
  font-weight: 500;
  font-size: 4rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  color: #999;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0 0 0.1rem;
}

/* buttons */
.btn {
  display: inline-block;
  background: var(--primary-color);
  color: #fff;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  border-radius: 2px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-lg {
  /* used for showcase bottom */
  font-size: 1rem;
  padding: 0.8rem 1.3rem;
  text-transform: uppercase;
}

/* products */
#products-header {
  background: #c3c1a2;
  height: 100px;
  position: relative;
  color: black;
  text-transform: uppercase;
}

#products-header .btn {
  background: rgb(77, 25, 25);
}

#products-header .row {
  padding-top: 2.5rem;
}
/* featured products */
.product-image {
  align-self: center;
  justify-self: center;
  height: 80%;
  margin-top: -40px;
}

.small-container {
  max-width: 70%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.small-container .row {
  margin-top: 40px;
  margin-bottom: 50px;
}

.product-card {
  background: rgb(214, 214, 214);
  display: grid;

  justify-self: center;
  border: 2px white solid;
  padding-bottom: 2rem;
  width: 300px;
  height: 300px;
}

.product-card:hover {
  opacity: 0.7;
}

.product-card h5,
h6 {
  color: black;
  padding: 30px;
  font-weight: 500;
}

.product-info {
  display: flex;
  justify-content: space-between;
  position: relative;
}

#product-head {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.about {
  background: url("../img/backgrounds/about.jpg") no-repeat center center/cover;
  position: relative;
  width: 100%;
  height: 50vh;
  justify-items: center;
}

.about p {
  padding-top: 2rem;
  text-align: center;
  margin: auto;
  width: 45%;
}

#about {
  margin-top: 50px;
  position: relative;
  width: 75%;
  margin: auto;
  border: 2px solid grey;
}
